@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    overflow-y: scroll;
    /* 始终显示滚动条（占位） */
}

body {
    width: 100vw;
    /* 视口宽度 */
    overflow-x: hidden;
    /* 防止水平滚动 */
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}